# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# ML Models
*.pt
*.pth
*.bin
*.onnx
*.h5
kaggle.json

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz
*.rar

# Logs
*.log

# Coverage
coverage/
.coverage
htmlcov/

# datasets
datasets/
Badges-Full-Pidray-1
